@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Default styles */
body {
  color: #000;
  background-color: #fffcf7;
  font-family: calibri;
}

h1 {
  font-weight: 350;
}

h2 {
  font-weight: 250;
}

/* High-contrast styles */
.high-contrast {
  color: yellow !important;
  background-color: #030303 !important;
  background: linear-gradient(
    123deg,
    rgba(13, 10, 2, 1) -50%,
    rgba(19, 16, 31, 1) 150%
  ) !important;
  border-color: #fff;
}

.high-contrast--special {
  background: 0 !important;
  background-color: rgb(27 13 48) !important;
}

.navbar {
  background-color: #a1b5d8;
  background: linear-gradient(
    123deg,
    rgba(161, 181, 216, 1) -10%,
    rgba(159, 191, 208, 1) 110%
  );
  display: flex;
  justify-content: end;
  position: static;
  padding: 16px;
  border: 1px solid #000;
}

.navbar__button {
  background-color: inherit;
  border-width: 0;
  color: #433432;
  padding: 0;
}

.grid {
  font-family: Nunito;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: end;
  column-gap: 5vw;
  row-gap: 5vh;
  padding: 0 5vw 0 5vw;
  align-content: end;
}

.grid__element {
  background-color: #a1b5d8;
  background: linear-gradient(
    123deg,
    rgba(161, 181, 216, 1) -10%,
    rgba(159, 191, 208, 1) 110%
  );
  border: 1px none #000;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid__element--flex {
  display: flex;
  flex-direction: column;
}

.title {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 0.75fr 0.7fr;
  grid-template-areas:
    "img title"
    "about about"
    "quiz quiz";
  padding: 2vw 5vw 2vw 5vw;
  font-size: 22px;
  font-family: Nunito;
  font-style: normal;
}

.title__img {
  width: 100%;
}

.title__heading {
  margin-left: 10vw;
  align-self: center;
}

.title__about {
  grid-area: about;
  font-style: normal;
  font-size: 16px;
  margin-left: 64px;
}

.grid__element__content {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}

.grid__element__read-more {
  margin: 0.5em 0.5em 0.5em 0;
  align-self: end;
}

.grid__element--quiz {
  grid-area: quiz;
  width: 90%;
  justify-self: center;
  display: flex;
  align-items: center;
  padding: 0 16px 0 32px;
  justify-content: space-between;
}

.grid__element--align_right {
  text-decoration: none;
  background-color: #fffcf7;
  border: 1px none white;
  border-radius: 16px;
  padding: 24px;
  color: black;
}

li {
  font-size: 90%;
}

.quiz {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr 1fr;
  column-gap: 12px;
  padding-top: 12px;
}

.quiz__heading {
  display: flex;
  grid-column-start: 2;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.questions {
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgba(153, 238, 187, 1) 0%,
    rgba(136, 255, 170, 1) 100%
  );
  border-width: 2px;
  width: 82%;
  margin: auto;
}

.dictionary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}
.dictionary__header {
  padding: 2vh 4vw 0 4vw;
}
.dictionary__content {
  padding: 2vh 4vw 0 4vw;
}

.dictionary__definition > p {
  display: inline;
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.password > p {
    font-family: Nunito;
    font-size: 20pt;
}
.password-red-bold{
    font-weight: 700;
    color: #990000;
}
.password-red{
    font-weight: 500;
    color: #ee1111;
}
.password-orange{
    font-weight: 425;
    color: #ff9933;
}
.password-yellow{
    font-weight: 425;
    color: #777700;
}
.password-green-first{
    font-weight: 475;
    color: #33cc33;
}
.password-green-second{
    font-weight: 550;
    color: #11ee11;
}
.password-blue{
    font-weight: 600;
    color: #1111ee;
}
