@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-VariableFont_wght.ttf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Default styles */
body {
  color: #000;
  background-color: #fff;
  background: linear-gradient(
    123deg,
    rgba(242, 245, 252, 1) -50%,
    rgba(236, 239, 224, 1) 150%
  );
  font-family: calibri;
}

/* High-contrast styles */
.high-contrast {
  color: #fff !important;
  background-color: #000 !important;
  background: linear-gradient(
    123deg,
    rgba(13, 10, 2, 1) -50%,
    rgba(19, 16, 31, 1) 150%
  );
  border-color: #fff;
}

.navbar {
  background-color: #a1b5d8;
  background: linear-gradient(
    123deg,
    rgba(161, 181, 216, 1) -10%,
    rgba(159, 191, 208, 1) 110%
  );
  display: flex;
  justify-content: end;
  position: static;
  padding: 16px;
  border: 1px solid #000;
}

.navbar__button {
  background-color: inherit;
  border-width: 0;
  color: #433432;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30vh 30vh;
  justify-items: center;
  align-items: end;
  column-gap: 5vw;
  row-gap: 5vh;
  padding: 0 5vw 0 5vw;
  align-content: end;
}

.grid__element {
  background-color: #a1b5d8;
  background: linear-gradient(
    123deg,
    rgba(161, 181, 216, 1) -10%,
    rgba(159, 191, 208, 1) 110%
  );
  border: 1px solid #000;
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.grid__element--flex {
  display: flex;
  padding: 10;
}

.title {
  font-family: Nunito;
  padding: 2vw 5vw 2vw 5vw;
  font-size: 22px;
}

.title__about {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.questionbox{
    background: linear-gradient(90deg, rgba(153,238,187,1) 0%, rgba(136,255,170,1) 100%);
    border: solid rgba(102, 153, 153, 98);
    border-width: 2px;
    width: 70%;
}
#redbox>ul>li>code{
    color: #0000ff;
}
#purplebox{
    background-color: #bb99ff;
}
#javalink:link{
    color: #00ffff;
}
#javalink:hover{
    color: #000000;
}
a{
    text-decoration: none;
}
li{
    font-size: 90%;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(223, 223, 223, 1) 0%, rgba(255, 255, 255, 1) 25%, rgba(212, 212, 212, 1) 100%);
}
.white-border{
    border: solid rgba(255, 255, 255, 100)
    border-width: 10px;
    border-radius: 15px;
}
.flexbox{
    padding: 20px;
    width: 98%;
    vertical-align: top;
}
.second{
    width: 33%;
    vertical-align: top;
}
.topbox-best{
    width: 60%;
}
.topbox-quiz{
    width: 85%;
}
.topbox{
    vertical-align: top;
    margin: auto;
}
#quiztop1{
    width: 80%;
}
#quiztop2{
    width: 20%;
}
.formbox{
    text-align: center;
    font-size: 130%;
}
h6{
    font-size: 115%;
    text-align: center;
}