{% extends "layout.html" %}

{% block body %}
<div>
    <table>
        <tbody>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-1">
            <p class="advice-header">1. Zastanów się zanim wstawisz zdjęcie na portal społecznościowy</p>
            <p class="advice-content">Być może na zdjęciu widoczna jest osoba, która nie życzy sobie umieszczenia jej na portalu społecznościowym. Upewnij się także czy na zdjęciu nie jest widoczny adres Twojego zamieszkania.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-2">
            <p class="advice-header">2. Ustaw swoje konto na prywatne</p>
            <p class="advice-content">Dzięki temu będziesz miał większą kontrolę nad tym kto widzi publikowane przez Ciebie zdjęcia, filmy albo <a href="/slownik">posty</a></p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-3">
            <p class="advice-header">3. Upewnij się, że znasz osobę która wysyła ci zaproszenie do znajomych</p>
            <p class="advice-content">Czasami na twoje konto mogą próbować wejść tzw. <a href="/slownik">boty</a>, które są programami komputerowymi służącymi do naśladowania ludzi. Mogą one próbować Cię zhakować, albo wyłudzić prywatne informacje</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-4">
            <p class="advice-header">4. Uważaj na fake newsy</p>
            <p class="advice-content">Przekazują one nieprawdziwe informacje. Często mówią o śmierci jakiejś osoby, albo akcji przeprowadzanej przez lokalny samorząd. Takie artykuły można często znaleźć na platformie <a href="https://facebook.com">Facebook</a></p>
        </div></tr>
        </tbody>
    </table>
</div>
{% endblock %}