{% extends "layout.html" %}

{% block body %}
<div>
    <table>
        <tbody>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-1">
            <p class="advice-header"></p>
            <p class="advice-content"></p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-2">
            <p class="advice-header"></p>
            <p class="advice-content"></p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-3">
            <p class="advice-header"></p>
            <p class="advice-content"></p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time advice-4">
            <p class="advice-header"></p>
            <p class="advice-content"></p>
        </div></tr>
        </tbody>
    </table>
</div>
{% endblock %}