{% extends "layout.html" %}

{% block body %}
    <script src="{{ url_for('static', filename='js/dictionary.js') }}"></script>
    <div class="dictionary">
        <div class="dictionary__header">
            <h2 class="dictionary__header--big">Słowniczek</h2>
            <p class="dictionary__header--small">Świat komputerów otacza wiele terminów. Język Internetu kształtował się przez ostatnie 20 czy 30 lat. Wiele ze słów używanych w Internecie mogą nie być od razu oczywiste dla nowego użytkownika. Poniżej przedstawiliśmy dla ciebie wybrane terminy, które ułatwią ci przeglądanie Internetu.</p>
        </div>
        <div class="dictionary__content">
            <h2>Wyszukaj termin, który cię interesuje:</h2>
            <input autocomplete="off" autofocus name="name" placeholder="Wyszukaj!" type="text" id="dictionary__input">
            <button type="button" onclick="fileread()">Wyszukaj</button>
            <br><br>
            <div class="dictionary__definition">
                <h2 id="placeholder-title"></h2><h2 id="placeholder-dash"></h2><h2
                    id="placeholder-text"></h2>
            </div>
        </div>
    </div>
{% endblock %}
