{% extends "layout.html" %}

{% block body %}
<div>
    <table>
        <tbody>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Jednoosobowe gry logiczne</h2>
            <p>Internet oferuje poprawienie sprawności mózgu poprzez różnorakie gry logiczne. Przykładem strony z grami logicznymi jest <a href="https://szarada.net">szarada.net</a>, ale wiele można znaleźć, wyszukując nazwę danej gry.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Wieloosobowe gry</h2>
            <p>Dzięki Internetowi możesz też wyzwać kogoś bez konieczności spotykania się z nim twarzą w twarz. Jedną z najpopularniejszych gier wieloosobowych granych przez Internet są szachy. Największa strona szachowa to <a href="https://lichess.org">lichess.org</a>. Istnieje też wiele innych gier, które można grać przez Internet, wystarczy wyszukać nazwę gry.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Telewizja na żądanie</h2>
            <p>Dzięki różnym stronom i serwisom możesz obejrzeć programy telewizyjne, kiedy tylko chcesz. Sport, dramat, komedia, kreskówki - wszystko dostępne kiedykolwiek, gdziekolwiek, na stronach takich jak <a href="https://youtube.com">youtube.com</a>.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Nauka</h2>
            <p>Internet daje niespotykane wcześniej okazje do nauki nowych rzeczy. Nie ma znaczenia, czy chcesz nauczyć się nowego języka, umiejętności czy instrumentu, istnieje strona dedykowana do właśnie tego - przykładowo, nauka programowania na <a href="https://java-programming.mooc.fi/">java-programming.mooc.fi</a>.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Wiadomości</h2>
            <p>Nie musisz polegać na telewizji czy gazecie, aby dowiedzieć się, co dzieje się na świecie. Dzięki Internetowi wiadomości ze świata są na wyciągnięcie ręki. Musisz jednak wiedzieć, że niektórzy ukryją przed tobą prawdę dla własnych korzyści. Bądź więc bardzo ostrożny, poszukując informacji.</p>
        </div></tr>
        <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
            <h2>Fora i Media Społecznościowe</h2>
            <p>Możesz przeglądać fora internetowe lub media społecznościowe, np. <a href="https://facebook.com">facebook.com</a>, aby dowiedzieć się, jakie są ważne sprawy według innych użytkowników Internetu. Zobaczysz wpisy pasujące do twoich zainteresowań.</p>
        </div></tr></tbody>
    </table>
</div>
{% endblock %}