{% extends "layout.html" %}

{% block body %}
<nav class="navbar">
    <button class="navbar__button" id="toggle-high-contrast"><i class="fas fa-adjust"></i></button>
</nav>
<div class="title">
    <h1>Postępowy senior</h1>
    <div title__about>
        <h2>Witamy Cię seniorze! Na tej stronie dowiesz się jak bezpiecznie
            korzystać z nowych technologii.</h2>
        <h2>Na początku polecamy Ci zrobić quiz, albo zajrzeć do słowniczka. </h2>
    </div>

</div>
<div class="grid">
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <h1>Słowniczek</h1>
        </div>
    </div>
</div>
{% endblock %}
