{% extends "layout.html" %}

{% block body %}
<div class="title">
    <img class="title__img" id="high-contrast-picture" src="{{ url_for('static', filename='img/senior.png') }}"/>
    <h1 class="title__heading">Postępowy senior</h1>
    <div class="title__about">
        <h2>Witamy Cię seniorze! Na tej stronie dowiesz się jak bezpiecznie
            korzystać z nowych technologii.</h2>
        <h2>Na początku polecamy Ci zrobić quiz, albo zajrzeć do słowniczka. </h2>
    </div>
    <div class="grid__element grid__element--quiz">
        <h2>Quiz</h2>
        <a href="/quiz" class="grid__element--align_right">Kliknij tutaj</a>
    </div>

</div>
<div class="grid">
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/slownik.png') }}"/>
            <div class="grid__element__content">
                <h1>Słowniczek</h1>
                <span>Tutaj poznasz słowa przydatne w eksplorowaniu
                    internetu</span>
                <span class="grid__element__read-more"><a href="/slownik">Czytaj dalej...</a></span>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/oszustwa.png') }}"/>
            <div class="grid__element__content">

                <h1>Oszustwa</h1>
                <span>Dowiedz się jak nie dać się oszukać</span>
                <span class="grid__element__read-more"><a href="/oszustwa">Czytaj
                        dalej...</a></span>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/linki.png') }}"/>

            <div class="grid__element__content">
                <h1>Linki</h1>
                <span>Poznaj czym są i jak rozróżniać bezpieczne od niebezpiecznych</span>
                <span class="grid__element__read-more">Czytaj dalej...</span>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/hasla.png') }}"/>

            <div class="grid__element__content">
                <h1>Hasła</h1>
                <span>Dowiedz się jak ustawić mocne i bezpieczne hasło</span>
                <span class="grid__element__read-more"><a href="/hasla">Czytaj dalej...</a></span>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/gry.png') }}"/>

            <div class="grid__element__content">
                <h1>Gry i Zabawy</h1>
                <span>Propozycje jak możesz bezpiecznie spędzić czas w internecie</span>
                <span class="grid__element__read-more"><a href="/linki">Czytaj dalej...</a></span>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/media.png') }}"/>

            <div class="grid__element__content">
                <h1>Portale społecznościowe</h1>
                <span>Czym są i jak działają?</span>
                <span class="grid__element__read-more"><a href="/portale">Czytaj dalej...</a></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
