<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/normalize.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title></title>
  </head>
  <body onload="check()" onunload="check()">
    <nav class="navbar">
      <a href="/" class="navbar__main-page">Strona Główna</a>
      <button class="navbar__button" id="toggle-high-contrast">
        <i class="fas fa-adjust"></i>
      </button>
    </nav>
    {% block body %}{% endblock %}
    <script src="{{ url_for('static', filename='js/contrast.js') }}"></script>
  </body>
</html>
