{% extends "layout.html" %}

{% block body %}
<div class="linki-main hc-linki">
  <table>
    <tr>
      <td colspan=2>
        <div class="flexbox white-border">
          <p>Przeglądając internet możesz napotkać tzw. "Linki". Gdy naciśniesz link, wykonywana jest czynność. Może to być przeniesienie się na inną stronę lub pobranie pliku, ważna więc jest ostrożność i uwaga przy klikaniu na nie. Łatwo odróżnić link od innej części strony - gdy najedziesz kursorem na niego, kursor zmieni kształt na dłoń z wysuniętym palcem wskazującym, sygnalizując możliwość kliknięcia. Jeżeli wcześniej korzystałeś z internetu to pewni już zauważyłeś tę zmianę.</p>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <div class="flexbox white-border img-container">
          <img class="linki-img-first" src={{ url_for('static', filename='img/link.png') }}>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan=2>
        <div class="flexbox white-border">
          <p>Linki są adresem czegoś i pozwalają komputerowi to odnaleźć. Przykładowo, klikając w link na stronie internetowej jesteś zdolny przenieść się na inną część tej strony. Są dzięki temu wielkim ułatwieniem w korzystaniu z internetu.</p>
        </div>
      </td>
    </tr>
  </table>
  <img src={{ url_for('static', filename='img/jav scirpt.png') }}>
</div>
{% endblock %}