{% extends "layout.html" %}

{% block body %}
<div class="password">
    <h2 class="password__header">Wpisz przykładowe hasło:&nbsp;</h2>
    <form action="/hasla" method="get">
        <input type="text" name="taffy" id="taffy">
        <button type="submit">Sprawdź</button>
    </form>
</div>
<div class="password">
    {% if display %}
    {{ time|safe }}
    {% endif %}
</div>
<table>
    <tbody>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Użyj długiego hasła</h2>
        <p>Wybierz hasło składające się z co najmniej ośmiu znaków. Im dłuższe, tym lepsze.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Użyj różnych rodzajów znaków</h2>
        <p>Włącz do swojego hasła kombinację małych liter, dużych liter, cyfr i znaków specjalnych, takich jak !, @ lub #.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Unikaj prostych haseł</h2>
        <p>Unikaj używania łatwych do odgadnięcia haseł, takich jak "123456" lub "password". Wybierz coś bardziej unikalnego./p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Zapamiętaj swoje hasło</h2>
        <p>Znajdź sposób na zapamiętanie swojego hasła. Możesz użyć skojarzeń lub związanych z nimi słów, które dla ciebie mają znaczenie.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Nie używaj osobistych informacji</h2>
        <p>Nie używaj swojego imienia, nazwiska, daty urodzenia ani innych osobistych informacji jako hasła. Takie informacje są łatwe do zgadnięcia.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Zapisz hasła w bezpiecznym miejscu</h2>
        <p>Przechowuj swoje hasła w miejscu, które tylko ty masz dostęp. Może to być bezpieczne miejsce w twoim domu, na przykład zaszyfrowana książeczka.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Regularnie zmieniaj hasła</h2>
        <p>Co kilka miesięcy zmieniaj swoje hasła, aby utrzymać wysoki poziom bezpieczeństwa.</p>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h2>Uważaj na oszustwa</h2>
        <p>Bądź ostrożny wobec podejrzanych wiadomości e-mail, które proszą cię o podanie hasła. Pamiętaj, że banki i inne instytucje finansowe nigdy nie proszą o podanie hasła drogą elektroniczną.</p>
    </div></tr></tbody>
</table>
{% endblock %}