{% extends "layout.html" %}

{% block body %}
<div class="password">
    <h2 class="password__header">Wpisz przykładowe hasło:&nbsp;</h2>
    <form action="/hasla" method="get">
        <input type="text" name="pass" id="pass">
        <button type="submit">Sprawdź</button>
    </form>
</div>
<div class="password">
    {% if display %}
    {{ time|safe }}
    {% endif %}
</div>
<table>
    <tbody>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Użyj długiego hasła</h1>
        <h2>Wybierz hasło składające się z co najmniej ośmiu znaków. Im dłuższe, tym lepsze.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Użyj różnych rodzajów znaków</h1>
        <h2>Włącz do swojego hasła kombinację małych liter, dużych liter, cyfr i znaków specjalnych, takich jak !, @ lub #.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Unikaj prostych haseł</h1>
        <h2>Unikaj używania łatwych do odgadnięcia haseł, takich jak "123456" lub "password". Wybierz coś bardziej unikalnego.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Zapamiętaj swoje hasło</h1>
        <h2>Znajdź sposób na zapamiętanie swojego hasła. Możesz użyć skojarzeń lub związanych z nimi słów, które dla ciebie mają znaczenie.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Nie używaj osobistych informacji</h1>
        <h2>Nie używaj swojego imienia, nazwiska, daty urodzenia ani innych osobistych informacji jako hasła. Takie informacje są łatwe do zgadnięcia.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Zapisz hasła w bezpiecznym miejscu</h1>
        <h2>Przechowuj swoje hasła w miejscu, które tylko ty masz dostęp. Może to być bezpieczne miejsce w twoim domu, na przykład zaszyfrowana książeczka.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Regularnie zmieniaj hasła</h1>
        <h2>Co kilka miesięcy zmieniaj swoje hasła, aby utrzymać wysoki poziom bezpieczeństwa.</h2>
    </div></tr>
    <tr rowspan=1 class="second"><div class="flexbox white-border hc-time">
        <h1>Uważaj na oszustwa</h1>
        <h2>Bądź ostrożny wobec podejrzanych wiadomości e-mail, które proszą cię o podanie hasła. Pamiętaj, że banki i inne instytucje finansowe nigdy nie proszą o podanie hasła drogą elektroniczną.</h2>
    </div></tr></tbody>
</table>
{% endblock %}
