{% extends "layout.html" %}

{% block body %}

<div class="grid grid__margin">
    <a href="/portale/jak/facebook" class="grid__element grid__element--no-color">

    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/facebook.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1 id="hc-facebook">Facebook</h1>
            </div>
        </div>
    </div>

    </a>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/instagram.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1>Instagram</h1>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/pinterest.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1>Pinterest</h1>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/twitter.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1>Twitter</h1>
            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/youtube.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1>YouTube</h1>

            </div>
        </div>
    </div>
    <div class="grid__element">
        <div class="grid__element--flex">
            <img src="{{ url_for('static', filename='img/messenger.png') }}"/>
            <div class="grid__element__content grid__element__content--special">
                <h1>Messenger</h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
