{% extends "layout.html" %}

{% block body %}

<div class="quiz">
    <span class="quiz__heading grid__element">Witamy w teście wiedzy o
        podstawach internetu. Wybierz pytanie po prawej.</span>
    <select id="dropdown" onchange="quiz(null);">
        {% for i in range(1, test+1) %}
        <option id="i{{ i }}" value={{ i }}>Pytanie {{
        i }}</option>
        {% endfor %}
    </select>
</div>
<div class="questions">
    {% for j in range(1, test+1) %}
    <div id="question{{ j }}" hidden>
        <h2>{{ args[j-1][0] }}</h2>
        <form>
            {% for k in range(1, args[j-1]|length-1) %}
            <input type="radio" id="q{{ j }}_{{ k }}" value={{ args[j-1][k] }} name="q">
            <label for="q{{ j }}_{{ k }}">{{ args[j-1][k] }}</label><br>
            {% endfor %}
            <button type="button" id="q{{ j }}_submit" onClick="question({{ j }}, {{ corrects[j-1] }})">Submit</button>
        </form>
    </div>
    {% endfor %}
    <div id="question0" class="questions" hidden>
        <p>Gratulacje! Przeszedłeś wszystkie {{ test }} pytań! Możesz bezpiecznie korzystać z internetu!</p>
    </div>
</div>
</div>

<script type="text/javascript">
    const QUESTIONS = {{ test }};
    function clear(){
        for(i = 1; i <= QUESTIONS; i++){
            sessionStorage.setItem("answer"+i, 0);
        }
    }
    function quiz(num){
        let number;
        let dropdown = document.querySelector("#dropdown");

        if(num) {
            number = num;
            dropdown.value = num;
        }
        else
        {
            number = dropdown.value;
        }
        for(i = 0; i <= QUESTIONS; i++){ // 0 is not a question, but a special banner
            let question = document.getElementById("question"+i);
            question.hidden = !(i == number);
        }
    }
    function question(q, qNumber){
        const flag = document.getElementById("q"+q+"_"+qNumber).checked;
        const button = document.getElementById("q"+q+"_submit");
        button.className = "btn btn-"+(flag ? "success" : "danger");
        button.textContent = (flag ? "Dobrze!" : "Spróbuj jeszcze raz.");
        sessionStorage.setItem("answer"+q, +flag);
        let sum = 0;
        for(i = 1; i <= QUESTIONS; i++){
            sum += +sessionStorage.getItem("answer"+i);
        }
        console.log(sum);
        if(sum === QUESTIONS){
            clear();
            quiz('0'); // displays congratulations "question" div
        }else{
            if(q !== QUESTIONS && flag){
                setTimeout(function(){
                    quiz(q+1);
                }, 2500);
            }
        }
    }
    window.onload = function() {
        quiz(null);
    }
</script>
{% endblock %}
