{% extends "layout.html" %}

{% block body %}
<div class="scam">
    <h1>Oszustwa</h1>
    <h2>Jak łatwo można rozpoznać oszustwa?</h2>
    <span>Oszuści w internecie często grają na emocjach, aby osiągnąć swój cel. Im bardziej jesteśmy świadomi ich metod, tym mniej narażeni jesteśmy na ich działania.

        Oto kilka znanych sposobów, których oszuści używają:</span>
    <div class="grid__scam">
        <div class="grid__element grid__scam--metoda">
            <h1 class="grid__scam--h1">metoda "na wnuczka"</h1>
            <h2>Podszywają się pod bliską nam osobę, najczęściej członka rodziny,
                i próbują wyłudzić pieniądze lub poufne informacje.</h2>

        </div>
        <div class="grid__element grid__scam--metoda">
            <h1 class="grid__scam--h1">metoda "na ZUS"</h1>
            <h2>Podszywają się pod znaną nam instytucję, taką jak Zakład
                Ubezpieczeń Społecznych lub Krajowa Kontrola Skarbowa, i
                próbują wyłudzić dane osobowe lub informacje finansowe.</h2>
        </div>
        <div class="grid__element grid__scam--mail">
            <h1 class="grid__scam--h1">Oszustwa mailowe</h1>
            <h2>Często oszuści wysyłają nam fałszywe e-maile, udając różne sytuacje, na przykład zaległą wpłatę za ubezpieczenie lub prąd. W takich wiadomościach mogą zawierać załączniki lub linki, które należy unikać klikania. Niektóre z tych maili mogą być bardzo podobne do oficjalnych wiadomości. Jeśli masz jakiekolwiek wątpliwości, zawsze warto skontaktować się bezpośrednio z firmą, od której otrzymałeś takiego e-maila, i zapytać o daną sprawę.</h2>

        </div>
        <div class="grid__element grid__scam--tel">
            <h1 class="grid__scam--h1">Oszustwa mailowe</h1>
            <h2>Często oszuści wysyłają nam fałszywe e-maile, udając różne sytuacje, na przykład zaległą wpłatę za ubezpieczenie lub prąd. W takich wiadomościach mogą zawierać załączniki lub linki, które należy unikać klikania. Niektóre z tych maili mogą być bardzo podobne do oficjalnych wiadomości. Jeśli masz jakiekolwiek wątpliwości, zawsze warto skontaktować się bezpośrednio z firmą, od której otrzymałeś takiego e-maila, i zapytać o daną sprawę.</h2>

        </div>
    </div>
</div>
<div class="password">
    <h1>Sprawdzanie numerów podejrzanych</h1>
    <h2 class="password__header">Wpisz numer, który do ciebie zadzwonił:&nbsp;</h2>
    <form action="/oszustwa" method="get">
        <input type="tel" name="tel" id="tel">
        <button type="submit">Sprawdź</button>
    </form>

    {% if display %}
        {{ time|safe }}
    {% endif %}
</div>
{% endblock %}
